/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  /* Header Styles */
  header {
    background-color: #030303;
    color: white;
    padding: 20px 10px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  /* Navigation Styles */
  nav {
    background-color: #2e302e;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Image Styling */
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
  }
  
  /* Section Styles */
  section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    color: #000000;
    margin-bottom: 10px;
  }
  
  section ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    margin-top: 20px;
  }
  
  footer p {
    margin: 0;
    font-size: 0.9em;
  }